<ion-tabs>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <!-- Tiêu đề Menu -->
        <!-- <ion-title>Menu Content</ion-title> -->
        <div class="title-menu-partner">
          <ion-chip  (click)="setOpenModalUser(true)">
            <ion-avatar>
              <img alt="Avatar của bạn"
                [src]="accCurrent?.avatar?  accCurrent.avatar : linkAvatarDefault" />
            </ion-avatar>
            <ion-label>{{accCurrent?.username? accCurrent.username : 'Anonymous' }}</ion-label>
          </ion-chip>
        </div>
        <!-- Nội dung menu -->
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item button detail="true" (click)="setOpenModalContact(true)">
          <ion-icon slot="start" name="call-outline"></ion-icon>
          <ion-label>Liên hệ</ion-label>
        </ion-item>
        <ion-item button detail="true">
          <ion-icon slot="start" name="information-outline"></ion-icon>
          <ion-label>Thông tin dịch vụ</ion-label>
        </ion-item>
        <ion-item button detail="true">
          <ion-icon slot="start" name="ellipsis-horizontal-outline"></ion-icon>
          <ion-label>About</ion-label>
        </ion-item>
        <!-- <ion-item>
          <ion-icon slot="start" name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item> -->
        <!-- <ion-item>
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-item> -->
        <!-- <ion-item>
          <ion-icon slot="start" name="settings-outline"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item> -->
      </ion-list>

      <!-- Nút "Đăng xuất" -->
      <div class="logout-button-wrapper">
        <ion-button size="medium" color="light" id="comfirm-alert">Đăng xuất<ion-icon slot="end" name="log-out-outline"
            color="danger"></ion-icon></ion-button>
        <ion-alert trigger="comfirm-alert" header="Đăng xuất khỏi tài khoản của bạn?" [buttons]="alertConfirmButtons"
          (didDismiss)="setResult($event)"></ion-alert>
      </div>
    </ion-content>
  </ion-menu>
  <!-- Header -->
  <ion-header>
    <div class="ion-page" id="main-content"></div>
    <!-- Toolbar -->
    <ion-toolbar class="toolbar-app" color="primary">
      <!-- Icon Menu -->
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <!-- Tiêu đề -->
      <ion-title>{{titleApp}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-router-outlet></ion-router-outlet> -->

  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="partnership">
          <ion-icon name="people-outline"></ion-icon>
          Đối Tác
        </ion-tab-button>
        <ion-tab-button tab="request">
          <ion-icon name="clipboard-outline"></ion-icon>
          Yêu cầu
        </ion-tab-button> -->

    <ion-tab-button tab="laboratory" (click)="titleApp = 'Xét nghiệm'">
      <ion-icon name="clipboard-outline"></ion-icon>
      Xét nghiệm
    </ion-tab-button>
    <ion-tab-button tab="services" (click)="titleApp = 'Thông tin dịch vụ'">
      <ion-icon name="prism-outline"></ion-icon>
      Dịch vụ
    </ion-tab-button>
    <ion-tab-button tab="notifications" (click)="titleApp = 'Thông báo'">
      <ion-icon name="notifications-outline"></ion-icon>
      Thông báo
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- Thông tin user -->
<ion-modal [isOpen]="isModalOpenUser">
  <ng-template>
    <!-- Tiêu đề -->
    <ion-header>
      <ion-toolbar color="primary">
        <!-- Nút huỷ modal -->
        <ion-buttons slot="end" (click)="setOpenModalUser(false)">
          <ion-button>
            Đóng
            <!-- <ion-icon slot="icon-only" name="close-outline"></ion-icon> -->
          </ion-button>
        </ion-buttons>

        <!-- Tiêu đề Modal -->
        <ion-title>{{accCurrent?.username? accCurrent.username : 'Anonymous'}}</ion-title>
      </ion-toolbar>

    </ion-header>

    <ion-content class="ion-padding">

      <div style="display: flex; justify-content: center;">
        <ion-avatar style="height: fit-content; width: fit-content;">
          <ion-img [src]="accCurrent?.avatar? accCurrent.avatar : linkAvatarDefault"
            style="width: 6rem; height: 6rem;"></ion-img>
        </ion-avatar>
      </div>

      <ion-list *ngIf="!(accCurrent | isEmpty) || true">
        <ion-item button *ngIf="accCurrent.name">
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Họ và tên</h3>
            <p>{{accCurrent.name}}</p>
          </ion-label>
        </ion-item>
        <ion-item button *ngIf="accCurrent.code">
          <ion-icon name="barcode-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Mã KH</h3>
            <p>{{accCurrent.code}}</p>
          </ion-label>
        </ion-item>
        <ion-item button *ngIf="accCurrent.phone">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Số điện thoại</h3>
            <p>{{accCurrent.phone}}</p>
          </ion-label>
        </ion-item>
        <ion-item button *ngIf="accCurrent.address">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Địa chỉ</h3>
            <p style="white-space: break-spaces;">{{accCurrent.address}}</p>
          </ion-label>
        </ion-item>
        <ion-item button *ngIf="accCurrent.facebook">
          <ion-icon name="logo-facebook" slot="start"></ion-icon>
          <ion-label>
            <h3>Facebook</h3>
            <p>{{accCurrent.socialNetwork.facebook}}</p>
          </ion-label>
        </ion-item>
        <ion-item button *ngIf="accCurrent.zalo">
          <ion-icon name="megaphone-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Zalo</h3>
            <p>{{accCurrent.socialNetwork.zalo}}</p>
          </ion-label>
        </ion-item>
        <ion-item button *ngIf="accCurrent.telegram">
          <ion-icon name="camera-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Telegram</h3>
            <p>{{accCurrent.socialNetwork.telegram}}</p>
          </ion-label>
        </ion-item>
        <ion-item button *ngIf="accCurrent.tiwtter">
          <ion-icon name="newspaper-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Twitter</h3>
            <p>{{accCurrent.socialNetwork.tiwtter}}</p>
          </ion-label>
        </ion-item>


        <ion-buttons slot="start">
          <ion-button size="medium" fill="clear" (click)="setOpenModalSales(true)">Doanh số</ion-button>
        </ion-buttons>
      </ion-list>


    </ion-content>
  </ng-template>
</ion-modal>

<!-- Thông tin Doanh số -->
<ion-modal [isOpen]="isModalOpenSales">
  <ng-template>
    <!-- Tiêu đề -->
    <ion-header>
      <ion-toolbar color="primary">
        <!-- Nút huỷ modal -->
        <ion-buttons slot="end" (click)="setOpenModalSales(false)">
          <ion-button>
            Đóng
            <!-- <ion-icon slot="icon-only" name="close-outline"></ion-icon> -->
          </ion-button>
        </ion-buttons>

        <!-- Tiêu đề Modal -->
        <ion-title>Doanh số</ion-title>
      </ion-toolbar>

    </ion-header>

    <ion-content class="ion-padding">

      <ion-list>
        <ion-item style="font-weight: bold;">
          <ion-label>Hạng:</ion-label>
          <ion-text>Platium</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Doanh số:</ion-label>
          <ion-text>{{2038800 | currency : 'VND'}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Chiếu khấu:</ion-label>
          <ion-text>{{5050000 | currency : 'VND'}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Chưa thanh toán:</ion-label>
          <ion-text>{{10549000 | currency : 'VND'}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="calendar-clear-outline" color="primary"></ion-icon>
          <ion-select aria-label="Fruit" interface="popover" placeholder="Chọn khoảng thời gian lọc">
            <ion-select-option value="all">
              --Tất Cả--
            </ion-select-option>
            <ion-select-option value="today">
              Hôm nay
            </ion-select-option>
            <ion-select-option value="yesterday">
              Hôm qua
            </ion-select-option>
            <ion-select-option value="this_week">
              Tuần này
            </ion-select-option>
            <ion-select-option value="7_day_ago">
              7 ngày trước
            </ion-select-option>
            <ion-select-option value="this_month">
              Tháng này
            </ion-select-option>
            <ion-select-option value="30_days_ago">
              30 ngày trước
            </ion-select-option>
            <ion-select-option value="from_day_to_date">
              Từ ngày đến ngày
            </ion-select-option>
          </ion-select>
        </ion-item>


        <ion-item>
          <ion-label>Bệnh lý:</ion-label>

        </ion-item>

        <ion-item>
          <ion-label>Nhóm sản phẩm chiến lược:</ion-label>

        </ion-item>
      </ion-list>


      <!-- <app-pie-chart></app-pie-chart> -->


    </ion-content>
  </ng-template>
</ion-modal>


<!-- Liên hệ-->
<ion-modal [isOpen]="isModalOpenContact">
  <ng-template>
    <!-- Tiêu đề -->
    <ion-header>
      <ion-toolbar color="primary">
        <!-- Nút huỷ modal -->
        <ion-buttons slot="end" (click)="setOpenModalContact(false)">
          <ion-button>
            Đóng
            <!-- <ion-icon slot="icon-only" name="close-outline"></ion-icon> -->
          </ion-button>
        </ion-buttons>

        <!-- Tiêu đề Modal -->
        <ion-title>{{titleContact}}</ion-title>
      </ion-toolbar>

    </ion-header>

    <ion-content class="ion-padding">

      <ion-list>
        <ion-item>
          <ion-button size="medium" color="medium" expand="block" fill="outline" style="width: 100%;" (click)="presentAlertContactSalesStaff()">Nhân viên kinh doanh</ion-button>
        </ion-item>
        <ion-item>
          <ion-button size="medium" color="medium" expand="block" fill="outline" style="width: 100%;" (click)="presentAlertContactSwitchboard()">Tổng đài</ion-button>
        </ion-item>
        <ion-item>
          <ion-button size="medium"  color="medium" expand="block" fill="outline" style="width: 100%;" (click)="presentAlertContactPaymentDepartment()">Bộ phận thanh toán</ion-button>
        </ion-item>
      </ion-list>

    </ion-content>
  </ng-template>
</ion-modal>
