<ion-header [translucent]="true">
  <ion-toolbar class=".toolbar-app" color="primary">
    <ion-title class="title-login"> Đăng nhập </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="person" slot="start"></ion-icon>
            Tên đăng nhập
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="lock-closed" slot="start"></ion-icon>
            Mật khẩu
          </ion-label>
          <div class="password-login">
            <ion-input
              type="{{showPassword ? 'text' : 'password'}}"
              [(ngModel)]="passwordLogin"
            ></ion-input>
            <ion-icon
              slot="end"
              size="small"
              class="icon-password-login"
              (click)="togglePassword()"
              name="{{showPassword ? 'eye-off' : 'eye'}}"
              [color]="showPassword ? 'primary' : 'medium'"
            ></ion-icon>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button fill="clear" (click)="forgotPassword()">
          Quên mật khẩu?
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="loginAccount()">Đăng nhập <ion-icon slot="end" name="log-in-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
