<ion-header [translucent]="true">
  <ion-toolbar class=".toolbar-app" color="primary">
    <ion-title class="title-login"> Đăng nhập </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <span *ngIf="!(accountLogin.error | isEmpty)" class="m-error" style="top: 0; padding: 0.25rem;">*{{accountLogin.error}}</span>
    <ion-row style="margin-top: 0.6rem;">
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="person" slot="start"></ion-icon>
            Tên đăng nhập <span style="color:red">*</span>
          </ion-label>
          <ion-input type="text" placeholder="Username" [(ngModel)]="accountLogin.username"
            (keyup)="onKeyUpInputUsername()"></ion-input>
        </ion-item>
        <span class="m-error" *ngIf="isEmptyUsername">*Tên đăng nhập không được để trống</span>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 0.5rem;">
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="lock-closed" slot="start"></ion-icon>
            Mật khẩu <span style="color:red">*</span>
          </ion-label>
          <div class="password-login">
            <ion-input type="{{showPassword ? 'text' : 'password'}}" [(ngModel)]="accountLogin.password"
              placeholder="Password" (keyup)="onKeyUpInputPassword()" (keyup.enter)="loginAccount()"></ion-input>
            <ion-icon slot="end" size="small" class="icon-password-login" (click)="togglePassword()"
              name="{{showPassword ? 'eye-off' : 'eye'}}" [color]="showPassword ? 'primary' : 'medium'"></ion-icon>
          </div>
        </ion-item>
        <span class="m-error" *ngIf="isEmptyPassword">*Mật khẩu không được để trống</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button fill="clear" (click)="forgotPassword()">
          Quên mật khẩu?
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="loginAccount()">Đăng nhập <ion-icon slot="end"
            name="log-in-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

