.content-notification {
  ion-list {
    ion-item.notification-item {
      background-color: #f1f1f1;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;

      div.notification-box {
        padding: 0.25rem 0 0.25rem 0;
        margin: 0.5rem 0 0.5rem 0;

        ion-label {
          ion-note.notification-note {
            white-space: normal
          }

          div.notification-time {
            text-align: right;

            span {
              font-size: small;
              font-style: oblique;
              padding: 1px;
            }
          }
        }
      }

      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}
