<ion-content class="ion-padding">
  <!-- Nội dung -->
  <div>
    <!-- Khu vực tìm kiếm -->
    <div>
      <!-- Tìm liếm - lọc -->
      <div style="display: flex;">
        <ion-searchbar placeholder="Search"></ion-searchbar>
        <!-- <ion-buttons slot="start">
          <ion-button>
            <ion-icon slot="icon-only" name="funnel-outline"></ion-icon>
          </ion-button>
        </ion-buttons> -->
        <!-- <ion-item>
        </ion-item> -->

        <!-- Lọc dữ liệu -->
        <ion-buttons slot="start">
          <ion-button>
            <ion-icon slot="icon-only" name="funnel-outline"></ion-icon>
          </ion-button>
        </ion-buttons>


        <!-- Lựa chọn khoảng thời gian lọc -->
        <div style="display: flex; align-items: center; ">
          <ion-list>
            <ion-item>
              <ion-icon slot="start" name="calendar-clear-outline" color="primary"></ion-icon>
              <ion-select aria-label="Fruit" interface="popover" placeholder="Chọn khoảng thời gian lọc">
                <ion-select-option value="all">
                  --Tất Cả--
                </ion-select-option>
                <ion-select-option value="today">
                  Hôm nay
                </ion-select-option>
                <ion-select-option value="yesterday">
                  Hôm qua
                </ion-select-option>
                <ion-select-option value="this_week">
                  Tuần này
                </ion-select-option>
                <ion-select-option value="7_day_ago">
                  7 ngày trước
                </ion-select-option>
                <ion-select-option value="this_month">
                  Tháng này
                </ion-select-option>
                <ion-select-option value="30_days_ago">
                  30 ngày trước
                </ion-select-option>
                <ion-select-option value="from_day_to_date">
                  Từ ngày đến ngày
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
      </div>

      <!-- Nội dung -->
      <div class="content-laboratory">
        <ion-list>

          <!-- Danh các đối tác -->
          <ion-item *ngFor="let item of listPatientLab; let i = index">
            <!-- Thông tin bệnh nhân -->
            <ion-label>
              <!-- Tên bệnh nhân -->
              <h2 class="name-patient">{{item.name}}</h2>
              <!-- Số điện thoại -->
              <div *ngIf="!(item.phone | isEmpty)" class="info">
                <div>
                  <ion-icon name="call-outline"></ion-icon>
                </div>
                <h3 class="text">{{item.phone}}</h3>
              </div>

              <!-- Địa chỉ -->
              <div *ngIf="!(item.address | isEmpty)" class="info">
                <div>
                  <ion-icon name="location-outline"></ion-icon>
                </div>
                <h3 class="text">{{item.address}}</h3>
              </div>

              <!-- Chỉ định -->
              <div *ngIf="!(item.conditon | isEmpty)" class="info">
                <div>
                  <ion-icon name="pulse-outline"></ion-icon>
                </div>
                <h3 class="text">{{item.conditon}}</h3>
              </div>

              <!-- Tình trạng mẫu xét nghiệm -->
              <div *ngIf="!(item.status | isEmpty)" class="status">
                <h3>{{item.status}}</h3>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <!-- Nút thêm mới -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="openModalPatientLab()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>


<!-- Form modal add end edit a Patient  -->
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <!-- Tiêu đề -->
    <ion-header>
      <ion-toolbar>
        <!-- Nút huỷ modal -->
        <ion-buttons slot="start">
          <ion-button (click)="setOpenModalAddPatient(false)">Huỷ</ion-button>
        </ion-buttons>

        <!-- Tiêu đề Modal -->
        <ion-title>{{titleModalAddPatient}}</ion-title>

        <!-- Nút thêm mới xét nghiệm -->
        <ion-buttons slot="end">
          <ion-button (click)="openModalPatientLab()">Lưu</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <!-- Nội dung -->
    <ion-content class="ion-padding">
      <!-- Label dẫn dắt người dùng-->
      <label [innerHTML]="instructionModalPatient"></label>
      <!-- Khôi nhập dữ liệu -->
      <div>
        <!-- Nhập tên bệnh nhân -->
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="person-outline"></ion-icon>
            Tên bệnh nhân <span style="color:red">*</span>
          </ion-label>
          <ion-input [(ngModel)]="itemPatientFormModalLab.name" type="text"
            placeholder="Nhập tên bệnh nhân ..."></ion-input>
        </ion-item>

        <!-- Nhập số điện thoại -->
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="call-outline"></ion-icon>
            Số điện thoại <span style="color:red">*</span>
          </ion-label>
          <ion-input [(ngModel)]="itemPatientFormModalLab.phone" type="number" placeholder="Nhập SĐT ..."></ion-input>
        </ion-item>

        <!-- Nhập địa chỉ bệnh nhân -->
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="location-outline"></ion-icon>
            Địa chỉ <span style="color:red">*</span>
          </ion-label>
          <ion-input [(ngModel)]="itemPatientFormModalLab.address" type="text"
            placeholder="Nhập địa chỉ ..."></ion-input>
        </ion-item>


        <!-- Nhập địa chỉ Ghi chú-->
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="pencil-outline"></ion-icon>
            Ghi chú
          </ion-label>
          <ion-input [(ngModel)]="itemPatientFormModalLab.notes" type="text" placeholder="Thêm ghi chú ..."></ion-input>
        </ion-item>
      </div>

      <!-- Khối nút điều hướng -->
      <div style="margin-top:1rem; display: flex; justify-content: end;">
        <!-- Tiếp tục thêm thông tin bệnh nhân cần lấy mẫu xét nghiệp -->
        <ion-buttons slot="primary">
          <ion-button (click)="nextModalPatient()">
            Lưu và thêm mới ...
          </ion-button>
        </ion-buttons>
      </div>


    </ion-content>
  </ng-template>
</ion-modal>
