.content-laboratory {
  ion-list {
    ion-item {
      display: flex;
      flex-direction: column;

      ion-label {
        h2.name-partner {
          font-weight: 600;
        }

        div.info {
          display: flex;
          padding: 0.25rem;

          h3.text {
            margin-left: 0.25rem;
          }
        }

        div.status {
          display: inline-block;
          padding: 0.25rem;
          margin-top: 0.25rem;
          border-radius: 0.25rem;
          background-color: #b5e0ff;
        }
      }
    }
  }
}
